body h2{
	font-family: 'ralewey', sans-serif;
	font-size: 30px;
	font-weight:700;
}

body h3{
	font-family: 'open sans', sans-serif;
	text-transform: uppercase;
	font-size: 15px;
}

body h4{
	font-family: 'ralewey', sans-serif;
}

body p{
	font-family: 'open sans', sans-serif;
	font-size: 10px;
	font-weight:500;
}

header {	
	font-family: 'open sans', sans-serif;
	background-color: white;
	position:relative;
	height:150px;
	}

header a{
	font-weight: 400;
	font-size: 10px;
	text-transform:uppercase;
	text-decoration: none;
	color:black;
}

header .logo{
	position:absolute;
	left:20px;
	top:20px;
}

header ul{
	position:absolute;
	right:20px;
	top:50px;
}

header ul li{
	display: inline;
	margin-left: 10px;
}

.section2{
	background-image: url("../images/server.jpg");
	height: 500px;
	color:white;
}

.section2 div{
	padding:200px 300px;

}

.section2 h2{
	margin-bottom: 20px;
}

input{
	font-family: 'open sans', sans-serif;
}

.form{
	width:700px;
	margin: 0 auto;
	margin-top: -30px;
}

.search{
	font-size: 10px;
	width:550px;
	padding: 20px;
}

.form .button{
	background-color: #00ADF2;
	color:white;
	text-transform: uppercase;
	font-size: 10px;
	padding: 20px;
	width: 100px;
}

.section3{
	color:black;
	background-color: white;
	margin:0 auto;
	width: 700px;
}

.section3 li{
	display: inline-block;
	margin-left: 30px;
	margin-top: 50px;
}

.section4{
	color:black;
	background-color: white;
	clear: both;
}

.section4 h2{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
}

.section4 h4{
	text-align: center;
}

.box{
	width: 700px;
	margin:0 auto;
	clear: both;
	overflow: hidden;
}

.columnleft{
	float: left;
	margin-top:30px;
}

.cel{
	float:left;
	margin-top: 10px;
	margin-left: 98px;
}

.columnright{
	float:right;
	margin-top: 30px;
}

.box ul li {
	margin-bottom: 20px;
}

.box ul li article {
	position: relative;
}

.columnleft ul li article {
	padding-right: 40px;
}

.columnright ul li article {
	padding-left: 40px;
}

.columnleft ul li article img{
	position: absolute;
	right: 0;
	top:0;
}

.columnright ul li article img{
	position:absolute;
	left: 0;
	top:0;
}

.section5{
	background-image: url ("../images/section5.jpg");
	height: 200px;
}

.section5 h2{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
}

.section5 h4{
	text-align: center;
}

.box2{
	width: 700px;
	margin:0 auto;
}

.box2 .item{
	display: inline-block;
	border: 1px solid gray;
	padding:20px 10px;
}

.item h3{
	margin-bottom: 20px;
	text-align: center;
}

.item ul{
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
}

.pricing{
	font-size: 20px;		
	font-weight: 600;
}

.button{
	background-color: #00ADF2;
	color:white;
	text-transform: uppercase;
	font-size: 10px;
	padding: 10px;
	width: 100px;
	text-decoration: none;
	margin-right: auto;
	margin-left: auto;
	display: block;
	text-align: center;
}

.section6{
	background-color: #142E3F ;
	text-align: center;
	padding: 40px 0;
	margin-top: 30px;
}

.section6 p{
	color:white;
	font-size:25px;
}

span{
	color: #00ADF2;
	font-weight: 700;
}

.footer{
	background-color: #091722;
	font-family: 'open sans', sans-serif;
	color:white;
}

.footer div{
	width: 700px;
	margin: 0 auto;
	padding:20px 0;
}

.footer p{
	font-size: 5px;
	float: left;
}

.footer nav {
	float: right;
}

.footer nav ul{
	float: left;
}

.footer li{
	display: inline-block;
}

.footer a{
	text-decoration: none;
	color:white;
	font-size: 10px;
	font-weight: 300;
}

.footer .end{
	float: right;
}